.navbar{
	padding: 0 5rem;
	border-bottom: 1px solid #05458F;
	background-color: #F1BD2C !important;
}
.navbar .navbar-brand{
	padding: 0;
}
.navbar-nav.nav-left{
	padding-left: 1rem;
}
.navbar-expand-md .navbar-nav .dropdown-menu{
	background-color: #d7f1ff;
}
.navbar-dark .navbar-nav .nav-link{
	color: #fff;
	text-shadow: 1px 1px 2px #05458F;
}
.dropdown-item{
	color: #05458F;
}
.dropdown.show{
	background-color: #d19d01;
}